body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
}

.weather-app {
    display: flex;
    margin: 5vh 0 0 40vh;
}

.weather-card {
    background-color: #1b262c;
    border-radius: 25px 0px 0px 25px;
    width: 300px;
    height: 600px;
    font-family: "Roboto", sans-serif;
    color: #f4f4f4;
}

.weather-forecast {
    background-color: #394b59;
    border-radius: 0px 25px 25px 0px;
    width: 600px;
    height: 600px;
    font-family: "Roboto", sans-serif;
    color: #f4f4f4;
}

.search-bar {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.search-input {
    border: none;
    outline: none;
    height: 30px;
    background: #1b262c;
    border-radius: 25px;
    padding: 5px 10px;
    color: #f4f4f4;
}

.search-button {
    background: #1b262c;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.search-button img {
    width: 16px;
    height: 18px;
}

.weather-icon {
    margin-left: 60px;
    width: 180px;
    height: 180px;
    color: #66b3ff;
}

.temperature {
    width: max-content;
    font-size: 60px;
    margin-left: 60px;
    color: #f4f4f4;
}

.celcius {
    font-size: 40px;
}

.day-and-time {
    margin-left: 60px;
    display: flex;
    color: #f4f4f4;
}

.current-time {
    font-weight: bold;
}

.additional-info {
    flex-direction: column;
}

.humidity-info, .pressure-info {
    align-items: center;
    margin-top: 10px;
    margin-left: 60px;
    font-size: 14px;
    font-weight: bold;
    color: #f4f4f4;
}

.display-flex {
    display: flex;
}

.humidity-info img, .pressure-info img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.location {
    margin: 10px 0 0 30px;
    border-radius: 10px;
    font-weight: bold;
    width: 240px;
    height: 50px;
    text-align: center;
    padding-top: 25px;
    background-color: #394b59;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #f4f4f4;
}

.forecast-cards, .highlight-cards {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}

.forecast-card {
    margin-left: 10px;
    width: 100px;
    height: 120px;
    border-radius: 15px;
    font-weight: bold;
    background-color: #283845;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #f4f4f4;
}

.card-text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.card-image {
    margin-left: 20px;
    width: 60px;
    height: 60px;
}

.highlight-card {
    margin: 0 0 10px 10px;
    width: 180px;
    height: 150px;
    border-radius: 15px;
    font-weight: bold;
    background-color: #283845;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #f4f4f4;
}

.forecast-title, .highlights-title {
    margin: 30px 0 0 20px;
    color: #f4f4f4;
}

.sunrise, .sunset {
    display: flex;
    margin-left: 10px;
}

.sunrise-image, .sunset-image {
    width: 35px;
    height: 35px;
}

.left-margin {
    margin-left: 20px;
}

.sunrise-text, .sunset-text {
    margin: 12px 0 0 10px;
}

.visibility {
    font-size: 30px;
    margin-left: 20px;
    color: #f4f4f4;
}

